* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 0 5%;
    z-index: 1000;
}
header a {
    text-decoration: none;
}

 /* header a {
    color: #DACDB7;
    font-size:calc(0.5rem + 1.5vw);
    font-weight: bold;
    font-weight: 500;
    text-decoration: none;
    margin: 0 15px;
    cursor: pointer;
}
header a:visited
{
    color: #C8B18C;
}
header a:hover {
    color: #BDAE96;
    cursor: pointer;
}   */
header ul
{
    list-style: none;
}
.nav-data
{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.MENU
{ 
    position: relative;
    width: 32px;
    height: 32px;
}
.menu,
.close
{
    position: absolute;
    width: max-content;
    height: max-content;
    inset: 0;
    margin: auto;
    font-size: 1.25rem;
    cursor: pointer;
    transition: opacity .1s , transform .4s;
    color: #DACDB7;
}
.close
{
    opacity: 0;
} 
@media  screen and (max-width:1118PX ) {
    .home
    {
        opacity: 0;
    }
    .header-left
    {
        position: absolute;
        left: 0;
        width: 100%;
        height: calc(100vh - 80px);
        overflow: auto;
        pointer-events: none;
        opacity: 0; 
        transition: top .4s , opacity .3s;

    }
    .header-left::-webkit-scrollbar
    {
        width: 0;
    }
   
    .link
    {
        color: white;
        background-color: #DACDB7;
        font-weight: bold;
        padding: 1.25rem 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: background-color .3s;
        text-decoration: none;

    }
    .link:hover
    {
        background-color:#BDAE96 ;
    }
    .header-right a 
    {
        background-color: transparent;
        color: #DACDB7;
    }
    .header-right a:hover
    {
        background-color: transparent;
        color: #DACDB7;
    }
    .show-menu
    {
        opacity: 1;
        top: 3.5rem;
        pointer-events: initial;
    }
    .show-icon .menu
    {
        opacity: 0;
        transform: rotate(90deg);
    } 
    .show-icon .close
    {
        opacity: 1;
        transform: rotate(90deg);
    }
    .dropdown-item
    {
        cursor: pointer;

       
    }
    .dropdown-arrow
    {
        font-size: 1.25rem;
        font-weight: initial;
        transition: transform .4s;
    }
    .hotel-link
    {
        padding: 1.25rem 1.25rem 1.25rch 2.5rem;
        color: white;
        background-color: #BDAE96;
        display: flex;
        align-items: center;
        column-gap: 5rem;
        font-weight: bold;
        transition: background-color .3s;
        text-decoration: none;
    }
    .hotel-link:hover
    {
        background-color:rgba(189, 174, 150, 0.9) ;
    }
    .liste-hotels
    {
        max-height: 0;
        overflow: hidden;
        transition: max-height .4s ease-out;
        background-color: #DACDB7;
    }
    .dropdown-item:hover .liste-hotels
    {
       max-height:1000px ;
       transition: max-height .4s ease-in;
    }
    .dropdown-item:hover .dropdown-arrow
    {
        transform: rotate(180deg);
    }
}
@media  screen and (min-width:1118PX )
{
    header
   {
       margin-inline: auto;
       display: flex;
       justify-content: space-between;

    }

    .MENU
    {
        display: none;
    }
   .header-left {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .liste 
    {
        height: 100%;
        display: flex;
        column-gap: 3rem;
    }
    .link
    {
       height: 100%;
       padding: 0;
       justify-content: initial;
       color: #DACDB7; 
       font-size:calc(0.5rem + 1.5vw);
       font-weight: bold;
       font-weight: 500;
       cursor: pointer;
       display: flex;
       align-items: center;
   
    }
    .dropdown-item
    {   min-width: max-content;
        position: relative;
    }
    .liste-hotels {
        max-height: initial;
        overflow: initial;
        position: absolute;
        left: 0;
        top: 50px;
        opacity: 0;
        pointer-events: none;
        transition: opacity .3s, top .3s;
      }
      .hotel-link {
        padding: 1.25rem 1.25rem 1.25rch 2.5rem;
        color: white;
        background-color: #BDAE96;
        display: flex;
        align-items: center;
        column-gap: 5rem;
        font-weight: bold;
        transition: background-color .3s;
        text-decoration: none;
      }
      .hotel-link:hover
      {
          background-color:rgba(189, 174, 150, 0.5) ;
      }
      .dropdown-item:hover .liste-hotels
       {
        opacity: 1;
        top:40px;
        pointer-events: initial;
        transition: top .3s;
       }
    .liste-hotels
    {
        max-height: 0;
        overflow: hidden;
        transition: max-height .4s ease-out;
    }
    .dropdown-item:hover .liste-hotels
    {
       max-height:1000px ;
       transition: max-height .4s ease-in;
    }
    .dropdown-item:hover .dropdown-arrow
    {
        transform: rotate(180deg);
    }
}
.header-right a {
    font-size: 30px;
}

.home {
    height: 100px;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home h1 {
    font-size:calc(1rem + 1.5vw);
    color: #BDAE96;
    margin-bottom: 20px;
}

.inputs {
    padding: 20px 40px;
    background-color: #DACDB7;
    border-radius: 40px;
    display: flex
}

.inputs input {
    color: white !important;
    width: max-content;
    height: 50px;
    background-color: #BDAE96;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 30px;
    margin: 0 10px;
}

.inputs button {
    color: white !important;
    width: max-content;
    height: 50px;
    background-color: #BDAE96;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 30px;
    margin: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.inputs input::placeholder {
    color: white;
    width: max-content;
}

.home-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-image: url(./img/d37f23995c7d788734bf4f32125b461a.jpg);
    background-size: cover;
    background-position: center;
}
.hotels {
    height: 800px;
    width: calc(100% - 20px);
    background-color: #DACDB7;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}



.hotel {
    height: 200px;
    width: calc(100% - 40px);
    background-color: white;
    margin: 5px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr 1fr;
    display: flex;
    justify-content: space-between;
}

.ph-hotel
{
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ph-hotel img
{
    width: 95%;
    height: 95%;
    border-radius: 20px;
}
.inf-hotel
{
   width: 55%;
   padding: 20px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}
.inf-hotel p
{
    line-height: 1.1;
}
.star
{   height: 15%;
    display: flex;
    align-items: center;
}
.sh
{   display: inline-block;
    width: 25px; 
    height: 25px; 
    display: flex;
    align-items:end;
    color: #BDAE96;
    font-size: xx-large;
  font-variation-settings:
  'FILL' 1,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24
}
.not
{
    font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24
}
.desc
{
    height: 40%;
    font-size: medium;
}
.Coordonnées-hotel {
    height: 25%;
}
.Coordonnées-hotel ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}
.Coordonnées-hotel ul span {
    margin-right: 10px;
}
.Coordonnées-hotel ul li
{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.dispo-hotel
{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: medium;
}
.dispo-hotel button
{
    padding:10px 5px;
    border-radius: 20px;
    border: none;
    background-color: #33302F;
    color: white;
    margin: 15px;
}
.dispo-hotel button:hover
{
    cursor: pointer;
}















footer {
    height: 50vh;
    width: 100%;
    background-color: #4F4A4A;
    display: flex;
}

.footer-left {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #DACDB7;
    font-size:calc(0.05rem + 1.3vw);
}

footer h2 {
    position: relative;
}

footer h2::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: -5px;
    width: 105%;
    height: 2px;
    background-color: #DACDB7;
}

.footer-left div {
    border: solid 1px white;
    padding: 20px;
    text-align: center;

}

.footer-midle {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #DACDB7;
    font-size:calc(0.05rem + 1.3vw);
}

.footer-midle ul {
    text-align: center;
    line-height: 1.3;
}

.footer-right {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #DACDB7;
    font-size:calc(0.05rem + 1.3vw);
}

.footer-right input {
    width: 140px;
    height: 35px;
    border: solid 3px #DACDB7;
    border-radius: 30px;
    background-color: #827E7F;
    padding-left: 5px;
}

.footer-right input::placeholder {
    color: #DACDB7;
    font-size: 1.05rem;
}

.Coordonnées {
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.Coordonnées ul {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size:calc(0.05rem + 1.3vw);
}

.Coordonnées ul span {
    margin-right: 10px;
}

.Newsletter {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}